Source: netl2api
Section: net
Priority: extra
Maintainer: Locaweb <eduardo.scarpellini@locaweb.com.br>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.6), python-support
Standards-Version: 3.8.3
Homepage: https://github.com/locaweb/netl2api
XS-Python-Version: >= 2.6

Package: netl2api-lib
Architecture: any
XS-Python-Version: >= 2.6
Depends: ${shlibs:Depends}, ${misc:Depends}, python-openssl
Description: Python generic API (vendor agnostic) for network/L2 operations
 Python generic API (vendor agnostic) for network/L2 operations

Package: netl2api-l2api
XS-Python-Version: >= 2.6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-ssh, python-openssl
Description: Python generic API (vendor agnostic) for network/L2 operations
 Python generic API (vendor agnostic) for network/L2 operations

Package: netl2api-server
XS-Python-Version: >= 2.6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-simplejson, python-bottle, python-paste, python-supay, python-apscheduler, python-redis, python-locautils, netl2api-lib, netl2api-l2api
Description: HTTP/REST generic API (vendor agnostic) for network/L2 operations
 HTTP/REST generic API (vendor agnostic) for network/L2 operations
