#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

TMP="debian/"
BUILDDIR="/tmp/package"

%:
	dh $@ --with python2

override_dh_auto_clean:
	rm -rf ${BUILDDIR}
	rm -rf ${TMP}/netl2api_lib ${TMP}/netl2api_l2api ${TMP}/netl2api_server

override_dh_auto_install:
	python setup_netl2api_lib.py build -b ${BUILDDIR}/netl2api_lib install --force --root=${TMP}/netl2api-lib/ --no-compile -O0 --install-layout=deb
	python setup_netl2api_l2api.py build -b ${BUILDDIR}/netl2api_l2api install --force --root=${TMP}/netl2api-l2api/ --no-compile -O0 --install-layout=deb
	python setup_netl2api_server.py build -b ${BUILDDIR}/netl2api_server install --force --root=${TMP}/netl2api-server/ --no-compile -O0 --install-layout=deb

override_dh_installinit:
	dh_installinit --name=netl2server
